In [52]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv('../Datasets/Fruit Crops.csv')
df.head()

    N   P   K  temperature   humidity        ph    rainfall        label
0   2  24  38    24.559816  91.635362  5.922936  111.968462  pomegranate
1   6  18  37    19.656901  89.937010  5.937650  108.045893  pomegranate
2   8  26  36    18.783596  87.402477  6.804781  102.518476  pomegranate
3  37  18  39    24.146963  94.511066  6.424671  110.231663  pomegranate
4   0  27  38    22.445813  89.901470  6.738016  109.390600  pomegranate

In [54]:
df.tail()

      N   P   K  temperature   humidity        ph    rainfall    label
995  22   8  33    28.435729  95.884041  5.665785  203.928371  coconut
996  28  27  32    28.940997  93.001090  5.764615  191.772309  coconut
997  23  21  26    26.454887  93.450426  5.901496  149.222026  coconut
998  37   5  34    25.794905  93.841506  5.779033  152.423871  coconut
999  19  26  29    26.931419  98.803136  5.671549  166.571288  coconut

In [55]:
df.info

<bound method DataFrame.info of       N   P   K  temperature   humidity        ph    rainfall        label
0     2  24  38    24.559816  91.635362  5.922936  111.968462  pomegranate
1     6  18  37    19.656901  89.937010  5.937650  108.045893  pomegranate
2     8  26  36    18.783596  87.402477  6.804781  102.518476  pomegranate
3    37  18  39    24.146963  94.511066  6.424671  110.231663  pomegranate
4     0  27  38    22.445813  89.901470  6.738016  109.390600  pomegranate
..   ..  ..  ..          ...        ...       ...         ...          ...
995  22   8  33    28.435729  95.884041  5.665785  203.928371      coconut
996  28  27  32    28.940997  93.001090  5.764615  191.772309      coconut
997  23  21  26    26.454887  93.450426  5.901496  149.222026      coconut
998  37   5  34    25.794905  93.841506  5.779033  152.423871      coconut
999  19  26  29    26.931419  98.803136  5.671549  166.571288      coconut

[1000 rows x 8 columns]>

In [56]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [57]:
df.shape

(1000, 8)

In [58]:
df.label.value_counts()

pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
Name: label, dtype: int64

In [59]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder().fit(df['label'])

In [60]:
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'apple': 0, 'banana': 1, 'coconut': 2, 'grapes': 3, 'mango': 4, 'muskmelon': 5, 'orange': 6, 'papaya': 7, 'pomegranate': 8, 'watermelon': 9}

In [61]:
df['label'] = le.transform(df['label'])

In [62]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall  label
0   2  24  38    24.559816  91.635362  5.922936  111.968462      8
1   6  18  37    19.656901  89.937010  5.937650  108.045893      8
2   8  26  36    18.783596  87.402477  6.804781  102.518476      8
3  37  18  39    24.146963  94.511066  6.424671  110.231663      8
4   0  27  38    22.445813  89.901470  6.738016  109.390600      8

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
X = df.drop(['label'],axis=1)
y = df['label']

In [65]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [66]:
X_train.head()

       N    P    K  temperature   humidity        ph    rainfall
29    29   16   36    19.810694  88.929443  5.740338  102.860084
535   88   17   52    29.904159  90.752844  6.646962   25.378284
695   40  120  197    23.805938  92.488795  5.889481  119.633555
557  100   14   49    29.488830  91.075742  6.365957   26.019094
836   31   62   52    33.796016  93.007543  6.991041  182.026807

In [67]:
X_test.head()

       N    P    K  temperature   humidity        ph    rainfall
521  100    6   53    29.052480  93.922178  6.105910   23.666206
737    6    8   11    24.355909  92.396517  6.600949  119.694658
740    1   30   10    11.899257  91.346638  7.291406  103.577147
660   26  126  195    21.413638  92.991245  5.878569  118.397907
411   86   15   47    24.043558  84.184068  6.423899   53.789300

In [68]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((800, 7), (200, 7), (800,), (200,))

In [69]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [70]:
# step1 = ColumnTransformer(transformers=[
#     ('scal_tnf',MinMaxScaler(),[0,1,2,3,4,5,6]),
# ],remainder='passthrough')

# step2 = RandomForestClassifier(n_jobs=-1, 
#                                random_state=42, 
#                                n_estimators=10,
#                                max_features=5,
#                                max_depth=40, 
#                                max_leaf_nodes=2**20)

# pipe=Pipeline([
#     ('step1',step1),
#     ('step2',step2)
# ])

# pipe.fit(X_train,y_train)

step1 = MinMaxScaler()
step2 = RandomForestClassifier(n_jobs=-1, random_state=42, n_estimators=10)
pipe = Pipeline([('step1', step1), ('step2', step2)])

pipe.fit(X_train, y_train)

Pipeline(steps=[('step1', MinMaxScaler()),
                ('step2',
                 RandomForestClassifier(n_estimators=10, n_jobs=-1,
                                        random_state=42))])

In [71]:
# import pickle
import joblib

In [72]:
# with open('../SavedModels/model.pkl', 'wb') as model_file:
#     pickle.dump(pipe, model_file)

# with open('../SavedModels/model1.pkl', 'wb') as model_file:
#     pickle.dump(pipe, model_file)

joblib.dump(pipe, '../SavedModels/fruits.joblib')

['../SavedModels/fruits.joblib']

In [73]:
y_pred = pipe.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [74]:
for column in X.columns:
  print(column)

N
P
K
temperature
humidity
ph
rainfall

In [75]:
df = [[90,42,43,20.87,82.01,6.5,202.93]]

pipe.predict(df)[0]

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

1